<h1>Exhibition in Focus</h1>

<p><%= @exhibition.name%></p>
<p><%= @exhibition.category%></p>
<p><%= @exhibition.artist.first_name%></p>
<p><%= @exhibition.exhibition_info%></p>
<img class="image-container" src="<%= @exhibition.exhibit_img%>" alt="<%=@exhibition.name%>">   


<form action="/admin/exhibition/<%= @exhibition.id %>/edit" method="get">
  <input type="submit" value="Edit Exhibition">
</form>

<form action="/admin/exhibition/<%= @exhibition.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
